################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/xCubeApplication/.vs
/.vs
/xCubeApplication/obj/Debug/net8.0-windows/ref/xCubeApplication.dll
/xCubeApplication/bin/Debug/net8.0-windows/xCubeApplication.dll
/xCubeApplication/bin/Debug/net8.0-windows/xCubeApplication.exe
/xCubeApplication/bin/Debug/net8.0-windows/xCubeApplication.pdb
/xCubeApplication/obj/Debug/net8.0-windows/ref/xCubeApplication.dll
/xCubeApplication/obj/Debug/net8.0-windows/refint/xCubeApplication.dll
/xCubeApplication/obj/Debug/net8.0-windows/apphost.exe
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.AssemblyInfo.cs
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.AssemblyInfoInputs.cache
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.dll
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.g.resources
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.pdb
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.sourcelink.json
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_pntkfq5m_wpftmp.AssemblyInfo.cs
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_pntkfq5m_wpftmp.AssemblyInfoInputs.cache
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_pntkfq5m_wpftmp.assets.cache
*.BuildWithSkipAnalyzers
*.editorconfig
*.cs
*.json
*.cache
*.baml
/xCubeApplication/obj/Debug/net8.0-windows/App.g.cs
/xCubeApplication/obj/Debug/net8.0-windows/App.g.i.cs
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_MarkupCompile.cache
*.targets
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_MarkupCompile.lref
*.props
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_MarkupCompile.i.cache
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication_MarkupCompile.i.lref
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.csproj.CoreCompileInputs.cache
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.csproj.FileListAbsolute.txt
/xCubeApplication/obj/Debug/net8.0-windows/GeneratedInternalTypeHelper.g.cs
*.dll
/xCubeApplication/bin/Debug/net8.0-windows/xCubeApplication.deps.json
/xCubeApplication/bin/Debug/net8.0-windows/xCubeApplication.dll.config
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.assets.cache
/xCubeApplication/obj/Debug/net8.0-windows/xCubeApplication.designer.deps.json
/xCubeApplication/obj/project.assets.json
/xCubeApplication/obj/project.nuget.cache
/xCubeApplication/obj/xCubeApplication.csproj.nuget.dgspec.json
